
.navitem {
	.bottom-line {
		scale: 0;
		transition: scale 0.2s ease-in-out; /* 添加基础过渡 */
	}
	span {
		display: block;
		transition: all 0.2s ease-in-out;
		transition-delay: 0.1s;
	}

	&:hover {
		div {
			text-shadow: 0 0 10px var(--sidebar-primary);
		}

		.bottom-line {
			scale: 100%;
		}
	}
}