
.navitem {
	.bottom-line {
		width: 0;
		/*background-color: red;*/
		background: linear-gradient(90deg, var(--chart-5), var(--primary), var(--chart-5));
		transition: width 0.2s ease-in-out; /* 添加基础过渡 */
	}
	span {
		display: block;
		background-size: 100% 0;
		transition: all 0.2s ease-in-out;
		transition-delay: 0.1s;
	}

	&:hover {
		div {
			text-shadow: 0 0 10px var(--sidebar-primary);
		}

		.bottom-line {
			/*scale: 100%;*/
			width: 100%;
		}
	}
}