.title {
	background: linear-gradient(to right, var(--color-primary), var(--color-primary)) no-repeat right bottom;
	background-size: 0 1px;
	transition: background-size 0.3s ease-in-out;
}

.title:hover {
	background-position: left bottom;
		background-size: 100% 1px;
}