@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.active {
  color: var(--primary);
  div {
    width: 100%;
  }
  span {
    padding-bottom: 6px;
    transition-delay: 0s;
  }
}

body {
  margin: 0;
  /*display: flex;*/
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /*border: 1px solid var(--primary);*/
  /*padding: 0.2em 0.5em;*/
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary);
  }

}

:root {
  --background: oklch(0.9761 0.0000 0.0000);
  --foreground: oklch(0.2463 0.0129 258.3721);
  --card: oklch(1.0000 0.0000 0.0000);
  --card-foreground: oklch(0.0000 0.0000 0.0000);
  --popover: oklch(1.0000 0.0000 0.0000);
  --popover-foreground: oklch(0.0000 0.0000 0.0000);
  --primary: oklch(0.4984 0.1230 244.0493);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.5134 0.1907 16.3201);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.9431 0.0000 0.0000);
  --muted-foreground: oklch(0.5231 0.0077 5.8280);
  --accent: oklch(0.7081 0.0080 260.7313);
  --accent-foreground: oklch(0.0000 0.0000 0.0000);
  --destructive: oklch(0.5763 0.1570 47.9861);
  --destructive-foreground: oklch(1.0000 0.0000 0.0000);
  --border: oklch(0.9006 0.0000 0.0000);
  --input: oklch(0.8015 0.0000 0.0000);
  --ring: oklch(0.5976 0.1229 243.9968);
  --chart-1: oklch(0.5842 0.1373 241.8546);
  --chart-2: oklch(0.5229 0.0106 258.3546);
  --chart-3: oklch(0.7452 0.0958 242.0593);
  --chart-4: oklch(0.3396 0.0134 261.7273);
  --chart-5: oklch(0.4156 0.1087 246.7700);
  --sidebar: oklch(0.9761 0.0000 0.0000);
  --sidebar-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.4984 0.1230 244.0493);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.9006 0.0000 0.0000);
  --sidebar-ring: oklch(0.5976 0.1229 243.9968);
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
  --code: #f5f5f5;
  --code-border-weight: 1px;
}

.dark {
  --background: oklch(0.2463 0.0129 258.3721);
  --foreground: oklch(0.9113 0.0022 17.1975);
  --card: oklch(0.2163 0.0133 258.3693);
  --card-foreground: oklch(1.0000 0.0000 0.0000);
  --popover: oklch(0.2163 0.0133 258.3693);
  --popover-foreground: oklch(1.0000 0.0000 0.0000);
  --primary: oklch(0.7706 0.1268 231.9686);
  --primary-foreground: oklch(0.0000 0.0000 0.0000);
  --secondary: oklch(0.6881 0.1800 1.5187);
  --secondary-foreground: oklch(1.0000 0.0000 0.0000);

  --muted: oklch(0.2081 0.0153 261.6011);
  --muted-foreground: oklch(0.7080 0.0037 247.8764);
  --accent: oklch(0.4331 0.0123 345.8714);
  --accent-foreground: oklch(1.0000 0.0000 0.0000);
  --destructive: oklch(0.7344 0.1200 76.1708);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.2718 0.0102 260.7023);
  --input: oklch(0.3709 0.0110 264.4320);
  --ring: oklch(0.6705 0.1264 231.6585);
  --chart-1: oklch(0.6660 0.1188 231.9093);
  --chart-2: oklch(0.6229 0.0084 345.4933);
  --chart-3: oklch(0.8231 0.1032 232.4967);
  --chart-4: oklch(0.4331 0.0123 345.8714);
  --chart-5: oklch(0.4617 0.0980 235.0341);
  --sidebar: oklch(0.2463 0.0129 258.3721);
  --sidebar-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.7706 0.1268 231.9686);
  --sidebar-primary-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.2071 0.0117 254.0942);
  --sidebar-accent-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.2718 0.0102 260.7023);
  --sidebar-ring: oklch(0.6705 0.1264 231.6585);
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
  --code: #24292e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
